<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Perfil - Objetivo</h2>
<div class="summary">
    <p>Soy un profesionista altamente organizado quien entiende la importancia de buenas practicas de desarrollo de software para producir productos y soluciones de calidad; habituado al trabajo bajo presión, quien conoce la importancia de las nuevas tecnologías y software que mejore y optimice el trabajo que se está realizando.</p>
</div><!--//summary-->
</section><!--//section-->
