<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">.NET Developer</h3>
                            <div class="time">2019 - Actual</div>
                        </div><!--//upper-row-->
                        <div class="company">Herbalife Nutrition, Guadalajara, Jalisco</div>
                    </div><!--//meta-->
                    <div class="details">

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">.NET Developer</h3>
                            <div class="time">2017 - 2019</div>
                        </div><!--//upper-row-->
                        <div class="company">Seguros El Potosí, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed and implemented mobile applications for the insurance company which uses Xamarin Forms as frontend and .NET WebApi as backend.</p>  
                        <p>Implemented Microsoft’s SignalR technology for real time communication one-to-many systems.</p>
                        <p>Implemented secure banking payments.</p>
                        <p>Implemented push notifications API’s and an administration dashboard for marketing campaigns using Angular 2 Framework.</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full stack developer</h3>
                            <div class="time">2016 - 2017</div>
                        </div><!--//upper-row-->
                        <div class="company">SPA Digital, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed and implemented Mayday Beeper, a chat application made in Android.</p>  
                        <p>Implemented Openfire Java server for real-time communication.</p>
                        <p>Followed Material UI standards as closely as possible.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Fullstack developer</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">HQH Technologies, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Developed a parking system with NFC technology for Texcoco, Ciudad de México</p>
                        <p>Developed a CRM for fitness centers</p>
                        <p>The CRM included user management, sales module, performance graphs, membership control for fitness centers using NFC technologies</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">
                                Schoolar
                            </h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad Autónoma de San Luis Potosí, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>PHP developer</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->

                
            </section><!--//section-->
