<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiencia laboral</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Full stack developer</h3>
                            <div class="time">2016 - Actual</div>
                        </div><!--//upper-row-->
                        <div class="company">SPA Digital, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Desarrollador de sofware para el sector de salud</p>  
                        <p>Se realizó la ingeniería de software necesaria para este desarrollo desde el análisis de requerimientos hasta la implementación; completando así de una manera exitosa el ciclo de vida necesario para un software de calidad.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Desarrollador de software</h3>
                            <div class="time">2015 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">HQH Technologies, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Desarrollo de sistema de parquímetros con tarjetas de aproximacion NFC para Texcoco, Ciudad de México.</p>
                        <p>Se introdujeron diversas metodologías de desarrollo que mejoraron la definición del producto y el proceso de la aplicación de manera que satisficiera las necesidades del usuario final. </p>  
                        <p>Desarrollo de CRM para fitness centers</p>
                        <p>Se realizo el sitio web para administación de usuarios, punto de venta, gráficas de desempeño, control de accesos para el fitness centers; todo esto bajo las mejores prácticas de programación y el modelo de desarrollo SCRUM.</p>
                    </div><!--//details-->
                </div><!--//item-->
                
                  <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Becario programación</h3>
                            <div class="time">2012 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Universidad Autónoma de San Luis Potosí, San Luis Potosí</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Describe your role here lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Donec quam felis, ultricies nec, pellentesque eu, pretium quis, sem.</p>  
                        
                    </div><!--//details-->
                </div><!--//item-->

                
            </section><!--//section-->
