<section class="section projects-section">
    <h2 class="section-title"><i class="fa fa-wrench"></i> Skills & Abilities</h2>
    <ul>
        <li>Good communication skills, and ability to work in a team.</li>
        <li>Strong knowledge in building RESTful API’s with .NET Standard and .NET Core</li>
        <li>+4 years of experience in building ASP.NET MVC web applications</li>
        <li>+4 years of experience implementing design patterns, and following SOLID, DRY, KIS principles</li>
        <li>Capable to test, subversion and monitor applications through Azure DevOps</li>
        <li>Cloud App building, distributing and logging through Microsoft Azure.</li>
        <li>Worked with agile team utilizing Azure DevOps, Slack, GIT.</li>
        <li>Experienced in building applications for mobile devices using Xamarin Forms, Apache Cordova and Android Native.</li>
        <li>Experienced in building logging dashboards / alerts / addons for Splunk Enterprise</li>
        <li>Experienced in building secure API’s for banking payments.</li>
        <li>Angular 4 and Javascript experience for developing web and desktop applications (with Electron).</li>
        <li> +8 years of experience with Javascript / CSS / HTML </li>
    </ul>
</section><!--//section-->
