<section class="section projects-section">
                <h2 class="section-title"><i class="fa fa-archive"></i>Proyectos</h2>
                <div class="intro">
                    <p>Estos son algunos de los proyectos que he realizado como desarrollador de software: </p>
                </div><!--//intro-->
                <div class="item">
                    <span class="project-title"><a href="#hook">MayDay Beeper</a></span> - <span class="project-tagline">Aplicación desarrollada en Android para el sector de salud.</span>
                    
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">GymSys</a></span> - 
                    <span class="project-tagline">CRM para fitness centers para el control de accesos, punto de venta y control de membresias. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Parking HQH</a></span> - <span class="project-tagline">Sitio web de compra de tickets en linea para parquímetros.</span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">SIC XE simulator</a></span> - <span class="project-tagline">Simulador para la arquitectura SIC-XE. </span>
                </div><!--//item-->
                <div class="item">
                    <span class="project-title"><a href="#" target="_blank">Editor de grafos</a></span> - <span class="project-tagline">Algoritmos para teoría de grafos.</span>
                </div><!--//item-->
            </section><!--//section-->
